// 页面调用方法
var Config = require('./config.wxs')
module.exports = {
    img_url: img_url,
}

function img_url(url) {
    url = url || ''
	if(url){
		// 判断是否是完整http|https|ftp地址
		if (url.substring(0, 7).toLowerCase() == "http://" || url.substring(0, 8).toLowerCase() == "https://") {
			// 直接请求当前地址
			return url
		} else {
			// 自定义方法短链接,拼接app.js中设置的请求链接
			return Config.Img_Url + url
		}
	} else {
		return '/images/loading-2.gif'
	}
}